<%- include("partials/header") %>

<div class="grid-portfolio" id="portfolio">
	<div class="container">
		<p style="color: white; font-size: 72px; text-align: center">
			<%= `${event.name}` %>
		</p>
		<div class="row">
			<div class="col-md-12">
				<div class="single-blog-post">
					<img src="img/blog_post_1.png" alt="">
					<div class="text-content">
						<p>
							<%= `${event.description}` %>
						</p>
					</div>
				</div>
			</div>	
		</div>
		
		<div class="row">
			<% imgFiles.forEach( (imgPath) => { %>
			<div class="col-md-4 col-sm-6">
				<div class="portfolio-item">
					<div class="thumb">
						<a href="<%= `${imgPath}` %>" data-lightbox="image-1"><div class="hover-effect">
							<div class="hover-content" style="height: 270px">
							</div>
						</div></a>
						<div class="image">
							<img src="<%= `${imgPath}` %>">
						</div>
					</div>
				</div>
			</div>
			<% }) %>
		</div>
	</div>
</div>

<!-- <div class="container">
	<form action="/ngo/<%= `${event.name.split(" ")[0]}` %>/<%= `${event._id}` %>/upload" method="POST" enctype="multipart/form-data">
		<div class="col-md-12">
			<fieldset>
				<span>Event name</span>
				<input name = "name" type="text" class="form-control" value="<%= `${event.name}` %>" readonly>
			</fieldset>
			<fieldset>
				<span>File</span>
				<input name = "eventImage" type="file" class="form-control" id="name" placeholder="Add fies" multiple required>
			</fieldset>
		</div>
		<div class="col-md-12">
			<fieldset>
				<button type="submit" id="form-submit" class="btn">Add Image</button>
			</fieldset>
		</div>
	</form>
</div> -->

<div class="card mx-xl-5">
  <div class="card-body">
    <form action="/ngo/<%= `${event.name.split(" ")[0]}` %>/<%= `${event._id}` %>/upload" method="POST" enctype="multipart/form-data">
      <p class="h4 text-center py-4">Upload Images</p>
      <label for="cardName" class="grey-text font-weight-light">Event Name</label>
      <input name="name" id="cardName" type="text" class="form-control" value="<%= `${event.name}` %>" readonly>
      <br>
      <label for="cardFile" class="grey-text font-weight-light">Files</label>
      <input name = "eventImage" type="file" class="form-control" id="cardFile" placeholder="Add files" multiple required>
      <div class="text-center py-4 mt-3">
        <button class="btn btn-outline-primary" type="submit">Upload Images<i
            class="fa fa-paper-plane-o ml-2"></i></button>
      </div>
    </form>
  </div>
</div>



<%- include("partials/footer") %>